/*Corpo*/
body{
    background-color: rgb(255, 255, 255);
     margin: 0; 
       background-image: url('https://images3.alphacoders.com/137/thumb-1920-1372691.png');  
           background-size: cover;
       background-repeat: no-repeat;
}
@font-face {
    font-family: 'Starstruck.ttf'; /* O nome que você vai usar no CSS */
    src: url('Starstruck.ttf') format('truetype'); /* Caminho relativo à fonte */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Starstruck.ttf'; /* O nome que você vai usar no CSS */
    src: url('Starstruck.ttf') format('truetype'); /* Caminho relativo à fonte */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Impact.ttf'; /* O nome que você vai usar no CSS */
    src: url('Impact.ttf') format('truetype'); /* Caminho relativo à fonte */
    font-weight: normal;
    font-style: normal;
}


nav{
 background-color: rgb(255, 255, 255);
 color: rgb(255, 255, 255);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
nav a {
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    font-family: 'Starstruck.ttf';
    color: rgb(88, 88, 88);
    font-size: 25px;
}
nav a:hover {
    background-color: rgb(189, 189, 189);
}


section img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.container-lado-a-lado {
    display: flex; 
    align-items: center; 
    gap: 20px;
}
.container-lado-a-lado iframe {
    border: none;
}
/* Contato */
.contato {
    text-align: center;
    padding: 40px;
    background-color: #6b6d6e;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    color: white;
    font-family: 'Impact.ttf';
}

.btn-whatsapp {
    display: inline-block;
    margin: 20px;
    padding: 12px 20px;
    background-color: #b1b1b1;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn-whatsapp:hover {
    background-color: #2e2e2e;
    color: white;
}

.qr {
    margin: 20px 0;
    color: white;
}

img {
    border-radius: 10px;
}
.ame{
    text-decoration: none;
    color: inherit;
}
#AME{
     background-color: #ffffff; 
    color: rgb(255, 255, 255);             
    padding: 15px 32px;     
    border: none;              
    border-radius: 8px;       
    cursor: pointer;          
    font-size: 16px;
    transition: 0.3s; 
    color: inherit rgb(255, 255, 255); 
    text-emphasis: none;
    text-align: center;
      
}
#AME:hover{
    background-color: #79828f;
   
   
}
/* CSS Do QR CODE */
.animar-imagem {
  width: 200px;
  transition: transform 0.5s ease-in-out; /* Define a suavidade */
}

.animar-imagem:hover {
  transform: rotate(360deg); /* Gira 360 graus no hover */
}

@keyframes pulsar {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.animar-imagem {
  animation: pulsar 2s infinite; /* Nome, duração, repetição */
}