/*Corpo*/
body{
    background-color: rgb(255, 255, 255);
     margin: 0; 
       background-image: url('https://images3.alphacoders.com/137/thumb-1920-1372691.png');  
           background-size: cover;
       background-repeat: no-repeat;
}
@font-face {
    font-family: 'Starstruck.ttf'; /* O nome que você vai usar no CSS */
    src: url('Starstruck.ttf') format('truetype'); /* Caminho relativo à fonte */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Starstruck.ttf'; /* O nome que você vai usar no CSS */
    src: url('Starstruck.ttf') format('truetype'); /* Caminho relativo à fonte */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Impact.ttf'; /* O nome que você vai usar no CSS */
    src: url('Impact.ttf') format('truetype'); /* Caminho relativo à fonte */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Impact.ttf';
    src: url('Impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

nav{
 background-color: rgb(255, 255, 255);
 color: rgb(255, 255, 255);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
nav a {
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    font-family: 'Starstruck.ttf';
    color: rgb(0, 0, 0);
    font-size: 25px;
}
nav a:hover {
    background-color: rgb(160, 160, 160);
}

/* Contato */
.contato {
    text-align: center;
    position: relative;
    padding: 40px;
    background-color: #3f3f3f;
    border-radius: 10px;
    width: 30%;
    margin: 80px auto 20px auto;
    color: white;
    font-family: 'Impact.ttf', sans-serif;
    outline: 2px solid #ffffff;
    outline-offset: -20px;
}

.btn-whatsapp {
    display: inline-block;
    margin: 20px;
    padding: 12px 20px;
    background-color: #b1b1b1;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn-whatsapp:hover {
    background-color: #8d8d8d;
    color: white;
}

.qr {
    margin: 20px 0;
    color: white;
}

img {
    border-radius: 10px;
}

/* CSS Do QR CODE */
.animar-imagem {
  width: 200px;
  transition: transform 0.5s ease-in-out; /* Define a suavidade */
}

.animar-imagem:hover {
  transform: rotate(360deg); /* Gira 360 graus no hover */
}

@keyframes pulsar {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.animar-imagem {
  animation: pulsar 2s infinite; /* Nome, duração, repetição */
}