/*Corpo*/
body{
    background-color: rgb(255, 255, 255);
     margin: 0; 
     font-family: Arial, sans-serif;
       background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1ZCUjKGEZSKJWaepE12kk3Sn0Q17PL1HljA&s');
       background-size: cover;
       background-repeat: no-repeat;
}
nav{
 background-color: rgb(255, 242, 64);
 color: rgb(255, 255, 255); 
  green, blue);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
nav a {
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    color: rgb(15, 15, 15);
 
    font-size: 25px;
}

nav a:hover {
    background-color: rgb(231, 216, 1);
   
    
}


section img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.container-lado-a-lado {
    display: flex; 
    align-items: center; 
    gap: 20px;
}
.container-lado-a-lado iframe {
    border: none;
}

/*Home*/
.home h1{
    color: #fff;
    text-align: center;
    background: fixed;
    background-color: rgb(53, 17, 17);
    border: 1px solid white;
    font-family: cursive;
    padding: 10px;
    border-radius: 10px;
    font-size: 50px;
    width: 50%;
    height: auto;
    margin: auto;
}
.home p{
    color: rgb(0, 0, 0);
    background-color: white;
    text-align: center;
    font-family: serif;
    font-size: 25px;
    outline-style: double;
    outline-width: 5px;
    outline-color: white;
}

.home img {
    align-items: center;
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    outline-style: groove;
    outline-color: darkblue;

}
/*animar a imagem*/
.age {
  width: 300px;
  animation: flutuar 3s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-20px) scale(1.05); /* Sobe e aumenta */
  }
}

.home {
    padding: 20px;
}

.content-wrapper {
    display: flex; /* Ativa o Flexbox */
    align-items: center; /* Alinha verticalmente ao centro */
    gap: 20px; /* Espaçamento entre texto e imagem */
}

.text-content {
    flex: 1; 
}

.container-img {
    max-width: 400px; 
    height: auto; 
    border-radius: 8px; }

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }
}



