/*Corpo*/
body{
    background-color: rgb(128, 138, 223);
     margin: 0; 
     font-family: 'Starstruck.ttf';
       background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1ZCUjKGEZSKJWaepE12kk3Sn0Q17PL1HljA&s');
       background-size: cover;
       background-repeat: no-repeat;
}
@font-face {
    font-family: 'Starstruck.ttf'; /* O nome que você vai usar no CSS */
    src: url('Starstruck.ttf') format('truetype'); /* Caminho relativo à fonte */
    font-weight: normal;
    font-style: normal;
}

nav{
 background-color: rgb(255, 242, 64);
 color: rgb(255, 255, 255);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
nav a {
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-size: 25px;
}
nav a:hover {
    background-color: rgb(231, 216, 1);
}