/*Corpo*/
body{
    background-color: rgb(255, 255, 255);
     margin: 0; 
     font-family: 'Starstruck.ttf';
       background-image: url('https://wallpapers.com/images/high/beautiful-minecraft-cherry-blossoms-8zlaxmeiqm93j24f.jpg');
       background-size: cover;
       background-repeat: no-repeat;
}
@font-face {
    font-family: 'Starstruck.ttf'; 
    src: url('Starstruck.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

nav{
 background-color: rgb(233, 168, 241);
 color: rgb(255, 255, 255);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
nav a {
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    color: rgb(99, 58, 109);
    font-size: 25px;
}
nav a:hover {
    background-color: rgb(221, 147, 236);
}